.zoom {
  transition: transform .2s;
}

.zoom:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 

}

.topnav {
  overflow: hidden;
background-color: #11122b;
  width: 100%;
	height: 80%;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	-webkit-transition: width 2s; 
  transition: width 2s;
	 
}
.logo {
	float: left;
	

	
}
.logo h1 {
	font-size: 40px;
	padding-right: 5px;
	padding-bottom: 20px;
	margin: 0px;
font-family: 'Cookie', cursive;
font-family: 'Alex Brush', cursive;
	
}
.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  /*font-family: 'Ubuntu Condensed', sans-serif;*/
font-family: 'Petit Formal Script', cursive;
  padding: 24px 16px;
  text-decoration: none;
  font-size: 17px;
	 box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}
